<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	<!-- Logo -->
  <a class="pa3 db mr4 h-100 w3 flex-none" href="/">
		<img src="/img/logo.svg" alt="enzo logo" class="br0 db mb0 w-100"/>
	</a>
	<!-- Primary Nav -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/values">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/post">Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products">Projects</a>
      </li>
			<li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<br>
